<div class="card mb-3">
  <div class="card-header d-flex justify-content-between">
    <h2 class="h4">
      <%= list.name %>
      <small class="text-muted small">by <%= list.user.username %></small>
    </h2>
    <div class="d-flex align-items-center">
      <%= link_to edit_list_url(list), class: "btn btn-sm btn-outline-secondary" do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to list, method: :delete, data: { confirm: "Do you really want to delete this list?" }, class: "btn btn-sm btn-outline-secondary" do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <div class="list-group list-group-flush" data-controller="drag">
      <%= render collection: @list.items, partial: "items/list_item", as: :item %>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(list.updated_at) %> ago
  </div>
</div>
